*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/tmp
/yarn.lock
node_modules

.envrc.private
.env
/brew
tmp
/brew/git-peek
/brew/git-peek-macOS
/brew/git-peek.exe
*/**.app
*/**.applescript
*.app
*.applescript
