*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/tmp
/yarn.lock
node_modules

.envrc.private
.env
/brew
tmp
/brew/git-peek
/brew/git-peek-macOS
/brew/git-peek.exe
*/**.app
*/**.applescript
*.app
*.applescript
*.tgz
package-lock.json
.vs

win32/**/bin
win32/**/obj

.DS_Store
*/**.DS_Store

*/**/mono*.json
nccbin
/pkgbin
